<div ng-show="loading"><ng-loader ></ng-loader></div>
<div ng-hide="loading" class="row">
	<div ng-repeat="article in articles" class="col-sm-3">
		<h1>{{article.titreArticle}}</h1>

		<button type="button" class="navbar-toggle">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
<p> <img src="{{article.picture}}350/200/{{$index + 1}}" width="100%"/></p>
		<p>{{article.comment}}</p>
		<p>
			<a href="#/comments/{{article.objectId}}" class="btn btn-primary btn-sm">{{article.length}} Commentaires</a>
		</p>
		<hr>
	</div>

	<div ng-hide="loading">
		myService : {{serviceOutput}} le nom objectName <strong>{{objectName}}</strong>  le nom objectName <strong>{{objectName}}</strong>
	<strong></strong>
	<br>
	myFactory : {{factoryOutput}}
	<br>
	myProvider : {{providerOutput}}
	</div>
</div>